
<h1>Online Order Form </h1>
<p class="float-right">
  <%= link_to "Add Tag", new_tag_path, class: "btn btn-md btn-primary" %>
</p>

<% unless @tags.blank? %>
  <table class="table table-hover table-bordered table-striped ">
    <thead>
      <tr>
        <th>Sl No.</th>
        <th>Name</th>
        <th>code</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each_with_index do |tag, index| %>
        <tr>
          <td><%= index + 1 %></td>  
          <td><%= tag.name %></td>
          <td><%= tag.code %></td>
          <td>
            <div>
              <%= link_to "Show", tag_path(tag), 
                class: "btn btn-sm btn-success" %>
              <%= link_to "Edit", edit_tag_path(tag), 
                class: "btn btn-sm btn-primary" %>
              <%= link_to "Remove",tag_path(tag), method: 'delete',
                class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
<% else %>
  <center><h3>No tags found to be shown here!</h3></center>
<% end %>